@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background-size: 200% 200%;
  animation: gradientAnimation 8s infinite;
  background-image: linear-gradient(-45deg, #ff9ece, #8e7cc3, #dca4a4, #e65959);
}
